{% extends "_base.html" %}

{% block content %}
  <h2 class="fw-bold">Изменение пароля пользователя</h2>
  <div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col"></div>
    <div class="col">
      <form method="POST" action={% url "users:user_change_pass" object.pk %}>
        {% csrf_token %}
        {% if form %}
          {{ form.as_p }}
        {% else %}
          No form
        {% endif %}

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Изменить</button>
          <a href="{% url "users:user_edit" object.pk %}" class="btn btn-secondary">Назад</a>
        </div>

      </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}