{% extends "_base.html" %}

{% block content %}
  <h2 class="fw-bold">Редактирование пользователя</h2>
  <div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col"></div>
    <div class="col">
      <div class="flex-container">
        <form method="POST" action={% url "users:user_edit" object.pk %}>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-between align-items-stretch">
            <button type="submit" class="btn btn-primary">OK</button>
            <a href="{% url "users:user_change_pass" object.pk %}" class="btn btn-info">Сменить пароль</a>
            <a href="{% url "users:user_details" object.pk %}" class="btn btn-secondary align-content-center">Назад</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}